html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: transparent url(/img/cover.png) no-repeat fixed center;
  background-size: cover;
}

.form-signin-container, form-register {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}